# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
name: Build and test

on:
  push:
  pull_request:
  workflow_dispatch: # Allow running manually from web UI

jobs:
  package:
    name: Maven Build and Test
    runs-on: ubuntu-latest
    # Only run on pushes or if pull request from fork
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    permissions:
      checks: write # to publish unit test results

    steps:
      - name: Check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - name: Build with Maven
        # --batch-mode: Disable interactive input, making logs cleaner for CI.
        # -show-version: Print Maven and JDK version info.
        # --update-snapshots: Force update of snapshot dependencies.
        # --errors: Show full error stack traces on failure.
        run: ./mvnw --batch-mode -show-version --update-snapshots --errors package
